body{
    background-image: url(treino-de-forca_63839.webp) ; background-repeat: no-repeat; 
    background-size: cover;
}

    h2{font font-family: "franklin gothic Medium", Arial,sans-serif; color: white;
}